.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.HeadLineList {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  font-size: 40px;
  margin: 10px;
}

.filter {
  border: 1px solid gray;
  width: 200px;
}