.wrapper {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}

.HeadLineList {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 40px;
  margin: 10px;
}

.filter {
  border: 1px solid gray;
  width: 200px;
}

.breakingNews {
  width: 500px;
  margin-top: 30px;
  align-self: center;
  margin-bottom: 50px;
  ;
}

::-webkit-scrollbar {
  display: none;
}

.country {
  font-size: 40px;
  font-weight: bold;
}

.flag {
  width: 100px;
  height: 100px;
  background-size: cover;
 margin-left: 100px;
}

#flagSpain {
  background-image: url('../../flag_spain.png');
}

#flagUK {
  background-image: url('../../flag_uk.png');
}